
/* .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.container-fluid{
    display: flex;
} *
.navBarMenu {
    display: flex;
    flex-direction: column;
}
.menuAndBasket{
    display: flex;
    width: 100%;
}  */ 
